<ion-header>
  <ion-navbar>
    <ion-title>Completed Requests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="completedRequests.length == 0">
    <ion-card-header>
      No Completed Requests
    </ion-card-header>
    <ion-card-content>
      Your requests not yet completed by any donors.
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      Completed Requests
    </ion-list-header>
    <button *ngFor="let request of completedRequests" ion-item
      (click)="goToRequestDetailsPage(request)">{{request.requestTitle}}</button>
  </ion-list>
</ion-content>
